.Button {
  background: rgba(242, 255, 243, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(242, 255, 243, 0.11);

  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  color: #828282;

  /* 줄 바꿈 안되게 설정  */
  white-space: nowrap;
  font-family: inherit;

  color: #555;
}

.Button_POSITIVE {
  background: #2ecc71;
  border-radius: 14px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  /* border: 1px solid rgba(0, 205, 28, 0.11); */

  color: #fff;
}

.Button_NEGATIVE {
  background: #cd0000;
  border-radius: 14px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  /* border: 1px solid rgba(205, 0, 0, 0.11); */

  color: #fff;
}

.Button:hover {
  transform: translateY(-1px);
  transition: all 0.2s ease;
}
