.EmotionItem {
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.EmotionItem .weather_img {
  width: 100px;
  margin-bottom: 10px;
}

/* 선택되었을 때의 스타일 */
.EmotionItem_on_1 {
  background-color: rgba(255, 189, 52, 0.5);
  color: #555;
}

.EmotionItem_on_2 {
  background-color: rgba(49, 78, 255, 0.8);
  color: white;
}

.EmotionItem_on_3 {
  background-color: rgba(245, 120, 70, 0.8);
  color: #555;
}

.EmotionItem_on_4 {
  background-color: rgba(154, 152, 155, 0.8);
  color: white;
}

.EmotionItem_on_5 {
  background-color: rgba(219, 212, 249, 0.8);
  color: white;
}
