@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

:root {
  --main-font: 'NanumSquare', sans-serif;
  --main-color: #242424;
  --main-weight: 400;
}

html,
body {
  margin: 0px;
  width: 100%;
  background-image: url('./assets/background.png');
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
  font-weight: var(--main-weight);
}
