@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html,
body {
  margin: 0px;
  width: 100%;
  background-image: url('./assets/background.png');
}

#root {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;

  background: rgba(255, 255, 255, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.11);

  padding: 0 20px;
}

body {
  font-family: 'NanumSquare', sans-serif;
}
